.progress-bar--boundary {
    height: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-bar--boundary div {
    height: 5px;
    background-color: #116530;
}