.file-dropper {
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #C3CEDA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.file-dropper input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.file-dropper:hover {
    background-color: #0C4160;
    color: #fff;
    transition: 0.5s;
}

form button {
    cursor: pointer;
    float: right;
}